body.categoria-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
}

div.categoria-form {
    color: #b1d22d;
    display: flex;
    flex-direction: column;
    margin-top: 20%;
    background-color: #000000d9;
    border-radius: 20px;
    border: solid 5px;
    border-color: white;
    width: 140%;
    align-items: center;
}

div.categoria-icons{
    display: flex;
    justify-content: space-between;
    width: 40%;
    align-items: center;
}

.categoria-title{    
    color: white;
}

ul.categoria-list {
    margin-right: 10%;
    width: 70%;
}

li.categoria-list {
    display: flex;
    justify-content: space-between;
}

div.end-categoria{
    display: flex;
    justify-content: space-between;
    width: -webkit-fill-available;
    margin: 10%;
}


div.end-categoriaForm{
    display: flex;
    width: -webkit-fill-available;
    margin: 10%;
}

div.categoria-form button {
    padding: 10px;
    background-color: #afd32c;
    font-weight: 700;
    color: #000;
    border: none;
    border-radius: 5px;
}

div.categoria-form button.back {
    background-color: #cd45ef;
}

div.categoria-form button:hover {
    background-color: #ffc160;
}
  
div.categoria-form h2{
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}