body.cadastro-page {
  font-family: 'Arial', sans-serif;
  background-size: cover; 
  background-position: center; 
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  justify-content: center; 
  align-items: center; 
}

form.cadastro-form {
  margin: 20px auto;
  padding: 20px; 
  border-radius: 5px;
  display: flex; 
  flex-direction: column;  
  border-radius: 10%;
  border: solid 5px;
  border-color: white;
}

label {
  width: 106%;
  margin-bottom: 10px;
  color: #b1d22d;
}

input {
  width: calc(100% - 20px); 
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input:focus {
  border-color: #ffc160;
}

form.cadastro-form button {
  padding: 10px;
  background-color: #afd32c;
  font-weight: 700;
  color: #000;
  border: none;
  border-radius: 5px;
}

form.cadastro-form button.back {
  background-color: #cd45ef;
}

form.cadastro-form button:hover {
  background-color: #ffc160;
}

a {
  text-decoration: none;
  color: #000;
}

.end {
  display: flex;
  justify-content: space-between;
}
